[
    {opcua, [
        {keychain, #{
            % For developement in case we expect unknown self-signed certs
            % trust_self_signed => true,
            entries => [
                #{
                    alias => ca,
                    is_trusted => true,
                    is_required => true,
                    cert => {priv, opcua, "certificates/CA.pem"}
                },
                #{
                    alias => ica,
                    is_trusted => false,
                    is_required => true,
                    cert => {priv, opcua, "certificates/clients_ICA.pem"}
                },
                #{
                    alias => client,
                    is_trusted => false,
                    is_required => true,
                    cert => {priv, opcua, "certificates/client.pem"},
                    key => {priv, opcua, "certificates/client.key"}
                }
            ]
        }},
        {start_server, false}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                filter_default => log,
                config => #{type => standard_io},
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }}
            }}
        ]}
    ]}
].
