{erl_opts, [debug_info]}.

{deps, [{ranch, "1.7.1"},
        {recon, "2.5.0"}]}.

{profiles, [{test, [
    {deps, [meck, unite]},
    {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
]}]}.

{shell, [
    {config, "./config/shell.config"},
    {apps, [opcua, ranch, xmerl, recon]}
]}.

{relx, [{release, {opcua, "1.0.0"},
	[opcua, ranch, xmerl, recon]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
