{deps, [
    {ranch, "1.7.1"},
    {uuid, "2.0.5", {pkg, uuid_erl}},
    {recon, "2.5.0"}
]}.

{erl_opts, [debug_info]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
    % Too much exported function are not used for this to be useful.
    %exports_not_used
]}.


{profiles, [
    {test, [
        {deps, [meck, unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]},
    {client, [
        {shell, [
            {config, "./config/client.config"},
            {apps, [opcua, ranch, xmerl, recon, runtime_tools]}
        ]}
    ]},
    {server, [
        {shell, [
            {config, "./config/server.config"},
            {apps, [opcua, ranch, xmerl, recon, runtime_tools]}
        ]}
    ]}
]}.

{shell, [
    {config, "./config/client.config"},
    {apps, [opcua, ranch, xmerl, recon, runtime_tools]}
]}.

{relx, [{release, {opcua, "1.0.0"},
	[opcua, ranch, xmerl, recon]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
