[
    {opcua, [
        {keychain, #{
            entries => [
                #{
                    alias => client,
                    is_trusted => true,
                    cert => {priv, opcua, "certificates/client.pem"}
                },
                #{
                    alias => server,
                    is_trusted => true,
                    is_required => true,
                    cert => {priv, opcua, "certificates/server.pem"},
                    key => {priv, opcua, "certificates/server.key"}
                }
            ]
        }},
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                filter_default => log,
                config => #{type => standard_io},
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }}
            }}
        ]}
    ]}
].
